/*.main-page-wrap {*/
/*    height: 100vh;*/
/*}*/

.main-block {
    display: flex;
    justify-content: space-around;
}

.main-block-header {
    padding: 30vh 0 0 1vw;
    color: white;
    font-weight: 600;
    font-size: calc(var(--index) * 3);
    width: 40vw;
}

.main-block-header {
    animation: flicker 2s ease-in-out infinite;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 4px black,
                0 0 11px black,
                0 0 19px black,
                0 0 40px #FF1493,
                0 0 80px #FF1493,
                0 0 90px #FF1493,
                0 0 100px #FF1493,
                0 0 110px #FF1493;
    }

    20%, 24%, 55% {
        text-shadow: none;
        opacity: 0.2;
    }
}

.main-block-subheader-wrap {
    width: 28vw;
    padding-left: 2vw;
}

.main-block-subheader-wrap > .main-block-subheader {
    animation: glow 2s ease-in-out infinite;
}

.main-block-subheader {
    display: inline-block;
    color: white;
    font-weight: 400;
    font-size: calc(var(--index) * 1);
}

.subheader-distance {
    margin-right: 0.5vw;
}

.main-block-button {
    margin: 8vh 0 0 1.5vw;
    border-radius: 4vh;
    text-align: center;
    padding: 1vh 2vw 1.5vh;
    background: white;
    color: black;
    font-weight: 400;
    font-size: calc(var(--index) * 1);
    display: inline-block;
    box-shadow: 0 1vh 4vh rgba(255, 255, 255, 0.5);
}

.main-block-button:hover {
    box-shadow: 0 1vh 4vh rgba(255, 255, 255, 0.5);
}

.main-block-img-wrap {
    position: relative;
}

.main-block-img {
    box-shadow: 1vh 1vw 1vw #ff149107, 1vh 1vh 1vw #ff149107;
    background: url(../../../visual/img/woman-s-face-is-made-up-geometric-shapes-cyberpunk-colorful-fractalism-cubism_834088-1-_1_-removebg-preview.png) center center/cover no-repeat;
    width: 60vh;
    backdrop-filter: blur(1.5px);
    margin-top: 20vh;
    height: calc(var(--index) * 20);
    position: absolute;
    z-index: 2;
    top: 1vh;
    right: -7vw;
    border-radius: 15vw;
    border: 0.01vw solid #ff1491bd;
}

.main-block-img::after,
.main-block-img::before {
  content: '';
  position: absolute;
  border: 0.2vh solid #ff1491bd;
  left: -10vh;
  opacity: 0;
  right: -10vh;
  top: -10vh;
  bottom: -10vh;
  border-radius: 50%;
  animation: pulse-main 2.5s linear infinite;
}

.main-block-img::after {
  animation-delay: 1.5s;
}

@keyframes pulse-main {
  0% {
    transform: scale(0.73);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.main-block-bg-img {
    opacity: 0.8;
    display: block;
    background: url(../../../visual/img/main-bg.png) center center/cover no-repeat;
    height: 40vw;
    width: 55vw;
    position: absolute;
    top: 10vh;
    right: -15vw;
    animation: big-small 2s ease-in-out infinite;
}



.main-block-subheader-wrap > .main-block-subheader:nth-child(2) {
    animation-delay: 0.25s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(3) {
    animation-delay: 0.5s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(4) {
    animation-delay: 0.75s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(5) {
    animation-delay: 1s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(6) {
    animation-delay: 1.25s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(7) {
    animation-delay: 1.5s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(8) {
    animation-delay: 1.75s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(9) {
    animation-delay: 2s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(10) {
    animation-delay: 2.25s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(11) {
    animation-delay: 2.5s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(12) {
    animation-delay: 2.75s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(13) {
    animation-delay: 3s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(14) {
    animation-delay: 3.25s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(15) {
    animation-delay: 3.5s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(16) {
    animation-delay: 3.75s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(17) {
    animation-delay: 4s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(18) {
    animation-delay: 4.25s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(19) {
    animation-delay: 4.5s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(20) {
    animation-delay: 4.75s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(21) {
    animation-delay: 5s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(22) {
    animation-delay: 5.25s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(23) {
    animation-delay: 5.5s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(24) {
    animation-delay: 5.75s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(25) {
    animation-delay: 6s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(26) {
    animation-delay: 6.25s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(27) {
    animation-delay: 6.5s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(28) {
    animation-delay: 6.75s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(29) {
    animation-delay: 7s;
}
.main-block-subheader-wrap > .main-block-subheader:nth-child(30) {
    animation-delay: 7.25s;
}